/* Columbia University Library
   Project: Synchronizer Module
   File: style.css
	 Description: Stylesheet with specific styling outside of Bootstrap
   Author: Ashley Pressley
   Date: 11/22/2017
*/

/*Upload Page*/
#errorBar {
  margin: 20px;
  padding: 25px 15px 0px 15px;
  background-color: #efefef;
  color: #f00;
  font-size: 1.5em;
  font-weight: bold;
}

#working-area {
  margin-top: 25px;
}

.upload-box {
  padding: 15px;
  background-color: #efefef;
}

input[type="file"] {
  display: none;
}

#display-results > div,
textarea {
  margin-bottom: 25px;
}

/*To fix their status bar text getting cut-off*/
.able-status-bar {
  height: 2.5em;
}

#exportWrapper {
  overflow: hidden;
  transition: max-height 300ms;
  max-height: 0;
}

.open {
  max-height: 100%;
}

/*Footer Block*/
#footer {
  margin-top: 50px;
  min-height: 50px;
  text-align: center;
  padding: 10px;
  color: #9d9d9d;
}
