/* Columbia University Library
   Project: Synchronizer Module
   File: style.css
	 Description: Stylesheet with specific styling outside of Bootstrap
   Author: Ashley Pressley
   Date: 12/29/2017
   Version: 0.3.1
*/

body {
  font-family: sans-serif;
}

/* Containers */
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

#working-area {
  margin-top: 25px;
  margin-bottom: 25px;
}

#media-playback {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.upload-box {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #efefef;
}

input[type="file"] {
  display: none;
}

#metadata,
#index,
#transcript {
  white-space: pre-wrap;
}
/*  */

/* Segment Tagging */
#tag-segment-btn {
	margin-top: 20px;
	margin-bottom: 10px;
}

/*  */

/* Error and Success Bars */
#successBar {
  margin-top: 10px;
}

.success-bar {
  padding: 15px;
  background-color: #75f492;
  border-radius: 6px;
}

#successBar i {
	padding: 10px;
}

#errorBar {
  padding: 15px;
  background-color: #efefef;
}

.error-bar {
  color: #f00;
  font-size: 1.5em;
  font-weight: bold;
}
/*  */

/* Ableplayer */
/*To fix their status bar text getting cut-off*/
.able-status-bar {
  height: 2.5em;
}
/*  */

/* Export options */
.dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background: 0 0;
	border: 0;
}

a.dropdown-item:hover {
  background-color: #efefef;
  text-decoration: none;
}
/*  */
